<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is Ajax</title>
</head>
<body>
    <div id = "app">
        <div>
            <h3>Tambah Member</h3>
            <form >
            <p>Nama <input type="text"></p>   
            <p>Alamat <input type="text"></p>
            <p>No. HP <input type="number"></p>
               <button @click="addMember(member.id)"> Tambah</button>
            </form>
        </div>
        <h3>Nama : {{member.name}}</h3>
        <h3>Alamat : {{member.address}}</h3>
        <h3>No. Hp : {{member.no_hp}}</h3>
        
        <h3>Data member</h3>
        <table border="1" cellspacing="0" cellpadding="10">
            <tr> 
                <th>#</th>
                <th>Nama</th>
                <th>Alamat</th>
                <th>No. HP</th>
                <th>Action</th>

            </tr>
            <tr v-for="(member, index) in members" :key="member.id">
                <td>{{ index+1 }}</td>
                <td>{{ member.name }}</td>
                <td>{{ member.address }}</td>
                <td>{{ member.no_hp }}</td>
                <td>
                    <button @click = "showMember(member.id)">Show</button>
                    <button @click = "deleteMember(member.id)">Delete</button>
                    <button @click = "apdetMember(member.id)">Upload</button>
                </td>
            </tr>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

    var api = axios.create({
        
    });
    let vm = new Vue({
      el: '#app',
      data : {
        msg : 'Belajar Ajax Amsterdam',
        members : [],
        member  : []
            
         },
    
    methods : {
        getAll : async function(){
            try {
              const config = {
                  method : `get` ,
                  url : `http://demo-api-vue.sanbercloud.com/api/member`
              }
              const res = await api (config)
              this.members = res.data.members
            } catch (error) {
          }
        },

        showMember : async function(id){
            try {
                const config = {
                    method : `get` ,
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${id}` 
                }
                const res = await api(config)
                this.member = res.data.member

                console.log(res.data)

            } catch (error) {

            }
        },

        anggota : function(){
            
        }
    },

    addMember : async function(){
            try {
                const config = {
                    method : `put` ,
                    url : `http://demo-api-vue.sanbercloud.com/api/member/1?_method=PUT` 
                }
                const res = await api(config)
                this.member = res.data.member
                
            } catch (error) {

            }
        },

        deleteMember : async function(){
            try {
                const config = {
                    method : `delete` ,
                    url : `http://demo-api-vue.sanbercloud.com/api/member/1?_method=DELETE` 
                }
                const res = await api(config)
                this.member = res.data.member
                
            } catch (error) {

            }
        },

        apdetMember : async function(){
            try {
                const config = {
                    method : `post` ,
                    url : `http://demo-api-vue.sanbercloud.com/api/member/2/upload-photo-profile` 
                }
                const res = await api(config)
                this.member = res.data.member
                
            } catch (error) {

            }
        },

    created(){
        this.getAll()
    },
      
    
    })
     
    </script>
</body>
</html>